<%- include('../includes/header'); %>

  <div class="container">
    <h2>
      All Data
    </h2>
    <li><a class="btn btn-primary btn-sm" href="#"
      onclick="openForm('dataa/create', 'create')">
        <span class="me-1"> Add</span></a>
    </li>
    <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>NIM</th>
      <th>Nama</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% 
      no = 1
      dataa.forEach(data => { %>
      <tr>
        <td><%= no++ %></td>
        <td><%= data.nim %></td>
        <td><%= data.nama %></td>
        <td>
          <a onclick="openForm('/dataa/edit/<%= data.id %>', 'create')">
            <button class="btn btn-primary">
              Edit
            </button>
          </a>
          <a href="/dataa/delete/<%= data.id %>">
            <button class="btn btn-danger">
              Delete
            </button>
          </a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
</div>
  <%- include('../includes/footer'); %>
